* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Raleway, sans-serif;
    color: #282828;
}


/* navigation */


.navbar-light .navbar-nav .nav-link {
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 25px;
}

.navbar-light .navbar-nav-right .nav-link {
    color: black;
    text-transform: initial;
    font-weight: 400;
    font-size: 14px;
    padding: 0 15px;
}

.navbar-light .navbar-nav-right .nav-link i {
    margin-right: 10px;
}


/* search */


.search-block {
    background-color: #f2f4f6;
    padding: 25px;
}

.search-block .container {
    position: relative;
}

.search-block-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.search-block-form {
    text-align: right;
    position: relative;
}

.search-block-input:focus {
    outline: none;
}

.search-block-input {
    padding: 15px 15px;
    border: 1px solid #e8e8e8;
}

.search-block-input::placeholder {
    color: #939393;
    font-size: 14px;
}

.search-block-submit {
    position: absolute;
    font-size: 0px;
    border: none;
    background-color: transparent;
    background-image: url(../img/search-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    top: 50%;
    right: 15px;
    transform: translateY(-50%)
}

hr {
    margin: 0 0 16px;
}


/* carousel */


.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #aba6a3;
    margin-left: 20px;
    margin-right: 10px;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.coffee-carousel{
    margin-top: 55px;
}
.base-text{
    position: relative;
}
.base-text p{
    position: absolute;
    left: 18.8vw;
    top: 129px;
    font-weight: bold;
    font-size: 28px;
}
.base-text a{
    position: absolute;
    left: 18.8vw;
    top: 210px;
    padding: 20px 55px;
    border: 3px solid #000000;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: #000000;
}

/* slider-partner */

.slider-block{
    padding: 60px 0;
    border-top: 1px solid #eaeaea;

}
.slick-slide img{
    margin: auto;
}

/* prod */

.prod-sect{
    margin-top: 20px;
}
.prod-block1{
    background-color: #ebdbe4;
    height: 220px;
    width: 280px;
    position: relative;

}
.prod-block2{
    background-color: #ebe1db;
    height: 220px;
    width: 280px;
    position: relative;


}
.prod-block3{
    background-color: #dbe5eb;
    height: 220px;
    width: 280px;
    position: relative;


}
.prod-block4{
    background-color: #d2dccf;
    height: 220px;
    width: 280px;
    position: relative;


}

/* -------------------------------------------- */
.prod-block1-title1{ 
    font-size: 26px;
    font-weight: 300;
    color: #d7795f;
    position: absolute;
    top: 39px;
    left: 57px;
} 
.prod-block2-title1{ 
    font-size: 26px;
    font-weight: 300;
    color: #d7795f;
    position: absolute;
    top: 60px;
    left: 173px;

} 
.prod-block3-title1{ 
    font-size: 26px;
    font-weight: 300;
    color: #d7795f;
    position: absolute;
    top: 61px;
    left: 45px;

} 
.prod-block4-title1{ 
    font-size: 26px;
    font-weight: 300;
    color: #d7795f;
    position: absolute;
    top: 40px;
    left: 153px;

}
.prod-block1-title2{
    font-size: 14px;
    font-weight: 300;
    color: #000000;
    position: absolute;
    top: 68px;
    left: 37px;
} 
.prod-block2-title2{
    font-size: 14px;
    font-weight: 300;
    color: #000000;
    position: absolute;
    top: 38px;
    left: 194px;

}
.prod-block3-title2{
    font-size: 14px;
    font-weight: 300;
    color: #000000;
    position: absolute;
    top: 37px;
    left: 84px;

} 
.prod-block4-title2{
    font-size: 14px;
    font-weight: 300;
    color: #000000;
    position: absolute;
    top: 68px;
    left: 194px;

}
h2{
    font-size: 20px;
    text-align: center;
    margin: 140px 0 28px;
    font-weight: bold;
}
/* -------------------------------------------- */


.prod-block1-img1{
    position: relative;
    left: 42px;
    top: 90px;

}
.prod-block1-img2{
    position: relative;
    left: 58px;
    top: 55px;

}
.prod-block1-img3{
    position: relative;
    left: 28px;
    top: 118px;

}
.prod-block1-img4{
    position: relative;
    left: 42px;
    top: 55px;

}


/* product */

.product-sect{
    background-color: #f3f5f7;
    padding-top: 15px;
    padding-bottom: 150px;
}
.product-block{
    text-align: center;
    background-color: white;
    padding: 40px 25px;
}
.product-block-img{
    padding-bottom: 25px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eaeaea;
    min-height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-block-title, .product-block-price{
    font-size: 14px;
    margin-bottom: 5px;
}

.product-block-price{
    font-weight: bold;
}
.product-block-text{
    font-size: 12px;
    color: #848484;
}



/* infoblock */

.infoblock{
    margin-bottom: 35px;
}
.infoblock img{
    margin-bottom: 17px;
}



/* footer */


.footer-line {
    padding: 50px 0;
    border-top: 2px solid #eaeaea;
}

.footer-phone {
    display: flex;
    align-items: center;
}

.footer-phone .footer-heading {
    margin: 0;
}

.footer-heading {
    font-size: 12px;
    color: #686868;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer-phone-text a {
    color: #686868;
    text-decoration: none;
    font-size: 24px;
}

.footer-phone-icon .fa-phone {
    color: #666666;
    font-size: 32px;
    margin-right: 20px;
}

.footer-link {
    color: #686868;
    font-size: 12px;
}

.fa-solid {
    margin-right: 10px;

}

.footer-link a {
    color: #686868;
    font-size: 12px;
    text-decoration: none;
}

.footer-contact {
    margin-top: 50px;
}

.footer-column-link .footer-link {
    margin: 5px 0;
}

.footer-search-form .search-block-input {
    width: 100%;
    padding: 10px 15px;
}

.footer-search-form .search-block-submit {
    background-image: url(../img/arrows.png);
}

.social-icons {
    margin-top: 40px;
}

.social-icons a {
    color: #7c7c7c;
    margin-right: 20px;
}

footer .footer-line:first-child {
    padding-left: 30px;
}

@media (max-width: 480px){
    .search-block-text{
        transform: translate(-90%, -50%);
    }
    .search-block-input{
        width: 50%;
    }
    .prod-block1{
        margin: 0px auto 50px;
    }
    .prod-block2{
        margin: 0px auto 50px;
    }
    .prod-block3{
        margin: 0px auto 50px;
    }
    .prod-block4{
        margin: 0px auto 50px;
    }
    .infoblock p{
        text-align: center;
    }
    .footer-line{
        text-align: center;
    }
    .footer-phone{
        display: block;
    }
    .base-text p, a{
        display: none;
    }
}